<ion-content>
  <ion-row id="alien">
    <img src="assets/alien.svg" alt="">
  </ion-row>
  <ion-row>
    <ion-title text-center>Entra con un usuario existente</ion-title>
  </ion-row>

  <div *ngIf="spinner">
    <img src="assets/spinner.svg" alt="spinner">
  </div>
  <div *ngIf="error">
    {{error}}
  </div>

  <form *ngIf="!spinner" #loginForm="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label position="stacked" color="primary">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="login.email" name="email" type="text" #mail="ngModel" spellcheck="false"
          autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="mail.valid || submitted === false" class="ion-padding-start">
          Por favor, ingrese su Correo Electrónico.
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Contraseña</ion-label>
        <ion-input [(ngModel)]="pass" name="password" type="password" #password="ngModel" minlength=6 required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="!password.errors?.minlength || submitted === false" class="ion-padding-start">
          La contraseña ingresada es muy corta.
        </p>
      </ion-text>
      <ion-text color="danger">
        <p [hidden]="!password.errors?.required || submitted === false" class="ion-padding-start">
          Por favor, ingrese una contraseña.
        </p>
      </ion-text>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Entrar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSignup()" color="light" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-badge color="primary" (click)="admin()"> Admin </ion-badge>
      <ion-badge color="primary" (click)="invitado()"> Invitado </ion-badge>
      <ion-badge color="primary" (click)="usuario()"> Usuario </ion-badge>
      <ion-badge color="primary" (click)="anonimo()"> Anónimo </ion-badge>
      <ion-badge color="primary" (click)="tester()"> Tester </ion-badge>
    </ion-row>

    <ion-row>
      <a> ¿Olvidó la contraseña? </a>
      <a (click)="cancel()"> Cancelar </a>
    </ion-row>

  </form>
</ion-content>
